html {
    background: #fff;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 60px;*/
}

header,
main,
#no-results,
footer {
    width: 1000px;
}


/* INPUT */

header {
    height: 80px;
    margin-top: 40px;
}

.search {
    text-align: center;
}

.search input {
    font-size: 20px;
    width: 300px;
}

.results {
    margin: auto;
    text-align: center;
}

.results ul {
    list-style-type: none;
    padding: 0;
}