html {
    background: #fff;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 60px;*/
}

header,
main,
#no-results,
footer {
    width: 1000px;
}

main {
    min-height: 360px;
}


/* INPUT */

header {
    height: 80px;
    margin-top: 40px;
}

#input-container input {
    font-size: 28px;
    font-weight: 100;
    width: 100%;
    padding: 10px 0 6px;
    border: none;
    border-bottom: 5px solid #eee;
}

#input-container input,
#input-container input:focus {}